@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    font-family: Montserrat, sans-serif;
    background-color: #0f3763;
    align-items: center;
    color: #ede38f;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.converter {
    background-color: #0f3763;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    color: #ede38f;
}

h1 {
    text-align: center;
}
input[type="number"],
input[type="text"] {
    background-color: #0f3763;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ede38f;
    border-radius: 20px;
    color: #ede38f;
}

button {
    background-color: forestgreen;
    color: #ede38f;
    font-size: 16px;
    width: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #286090;
}

.result,
.error {
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin: 10px;
}

.result {
    background-color: darkgreen;
}

.error {
    font-size: 10px;
    background-color: #a94442;
    color: #f2dede;
}

@media (max-width: 800px) {
    button {
        font-size: 12px;
    }

    .converter {
        width: 70%;
        font-size: 12px;
    }

    .result, .error {
        font-size: 12px;;
        width: 70%;
    }
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    .converter {
        font-size: 10px;
    }
    .result, .error {
        font-size: 10px;
        width: 70%;
    }
}