@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    font-family: Montserrat, sans-serif;
    background-color: #0f3763;
    align-items: center;
    color: #ede38f;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 20px 0;
}

.converter {
    background-color: #0f3763;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    color: #ede38f;
}

input[type="number"],
input[type="text"] {
    background-color: #0f3763;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ede38f;
    border-radius: 3px;
    color: #ede38f;
}

button {
    background-color: forestgreen;
    color: #ede38f;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #286090;
}

.result,
.error {
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.result {
    background-color: darkgreen;
    border-radius: 50px;
}

.error {
    font-size: 12px;
    background-color: #f2dede;
    color: #a94442;
    border-radius: 50px;
}
